{% extends 'base.html'%}
{%block head%} {%endblock%}
{%block title%}feed{%endblock%}

{%block content%}
<ul>
  <h2 class="header">A+ SHOWCASE</h2>
  {% for post in feed_item %}
  <li>
    {% if post["pic_url"] %}
      <img src="{{ post['pic_url'] }}">
    {% endif %}
    <div class="heart-btn">
      <a href="/likes/add/{{ post['id'] }}">Like {{ post['is_like'] }}</a>
    </div> 
    <div class="link">
      <a href="/{{ post['id'] }}">detail</a>
      <a href="/form/edit/{{ post['id'] }}">edit</a>
      <a href="/form/delete/{{ post['id'] }}">delete</a>
    </div>
    {% if result == "True" %}
      <a href="/{{ post['id'] }}/bid">BID {{ post['pic_name'] }}</a>
    {% endif %}
    <span>
      {{ post['username']}} : {{ post['pic_name'] }}
    </span>
    <!-- <span>
      {{ post['comment'] }}
    </span> -->
  </li>
  {% endfor %}
</ul>
{%endblock%}
