{% extends "base.html" %}
{%block title%}login{%endblock%}
{%block content%} 
<h2>A+ SHOWCASE LOGIN</h2>
<form class="login" action="/login" method="post">
  <label class="user" for="username">Username:</label>
  <input class="user" type="usename" name="username" />
  <br />
  <label class="email" for="email">Email:</label>
  <input class="email" type="email" name="email" />
  <br />
  <label class="password" for="password">Password:</label>
  <input class="user" type="password" name="password" />
  <br />
  <input class="sub" type="submit" />
</form>
<p class="message">{{ message }}</p>
{%endblock%}
