{% extends 'base.html' %}
{% block head %} <script src="../static/newpost.js" defer></script> {% endblock %}
{% block title %} New Post {% endblock %}

{% block content %} A+ NEW POST
<form class="newpost" action="/newpost" method="post">
  <label for="pic_url">Picture:</label>
  <input type="text" name="pic_url" />
  <br />
  <label for="pic_name">Caption:</label>
  <input type="text" name="pic_name" />
  <br />
  <p>Is this picture for bid?</p>
  <input type="radio" id="bidYes" name="bid" value="True" />
  <label for="bidYes">Yes</label>
  <input type="radio" id="bidNo" name="bid" value="False" />
  <label for="bidNo">No</label>
  <br />
  <input type="submit" />
</form>
{%endblock%}
