{% extends 'base.html' %}
{% block title %} New Post {% endblock %}

{% block content %} <h2>A+ NEW POST</h2>
<form class="newpost" action="/newpost" method="post">
  <label class="pic" for="pic_url">Picture:</label>
  <input class="pic" type="text" name="pic_url" />
  <br />
  <label class="name" for="pic_name">Caption:</label>
  <input class="name" type="text" name="pic_name" />
  <br />
  <p class="bid_name" >Is this picture for bid?</p>
  <input type="radio" id="bidYes" name="bid" value="True" />
  <label class="bid" for="bidYes">yes</label>
  <input type="radio" id="bidNo" name="bid" value="False" />
  <label class="bid" for="bidNo">no</label>
  <br />
  <input class="sub" type="submit" />
</form>
{%endblock%}
