{% extends 'profile.html' %}
{%block head%} {%endblock%}
{%block title%}{{ session['user_username'] }}{%endblock%}

{%block content%}
<h2 class="header"> {{ session['user_username'] }} BID A+ </h2>
<ul>
    {% for post in user_posts %}
    <li>
        {% if post["pic_url"] %}
        <img src="{{ post['pic_url'] }}">
        {% endif %}
        {% if post['user_like'] %}
        <div class="heart-btn-filled">
            <a href="/likes/add/{{ post['id'] }}">
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Heart_01"> <path id="Vector" d="M12 7.69431C10 2.99988 3 3.49988 3 9.49991C3 15.4999 12 20.5001 12 20.5001C12 20.5001 21 15.4999 21 9.49991C21 3.49988 14 2.99988 12 7.69431Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg></a>
            {{ post['total_like'] }}
        </div> 
        {% else %}
        <div class="heart-btn-unfilled">
            <a href="/likes/add/{{ post['id'] }}">
            <svg fill="#000000" height="25px" width="25px" viewBox="-4 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #242424;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>heart</title> <path d="M18.188 6.094c5.188 0 6.906 6 5.094 9.281-2.781 5.094-11.281 10.5-11.281 10.5s-8.531-5.406-11.281-10.5c-1.813-3.281-0.125-9.281 5.094-9.281 4.813 0 6.031 4.156 6.188 4.781 0.156-0.625 1.375-4.781 6.188-4.781z"></path></g></svg></a>
            {{ post['total_like'] }}
        </div> 
        {% endif %}
        <a href="/coin"><svg class="coin"height="45px" width="45px" viewBox="-4 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="rgb(87, 50, 154)" class="bi bi-coin">
            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/> </svg></a>
        <br>
        <h6 class="username">{{ post['username'] }} : </h6><p class="content">{{ post['pic_name'] }}</p>
               <!-- <span>
            {{ post['comment'] }}
        </span> -->
    </li>
    {% endfor %}
</ul>
{%endblock%}
