{% extends 'profile.html' %}
{%block head%} {%endblock%}
{%block title%}{{ session['user_username'] }}{%endblock%}

{%block content%}
<ul>
    <h2 class="header"> {{ session['user_username'] }} BID A+ </h2>
    {% for post in user_posts %}
    <li>
        {% if post["pic_url"] %}
        <img src="{{ post['pic_url'] }}">
        {% endif %}
        <div class="heart-btn">
            <div class="content">
                <span class="heart"></span>
                <span class="like">Like</span>
                <span class="num">{{ post['is_like'] }}</span>
            </div>
        </div> 
        <div class="link">
            <a href="/form/edit/{{ post['id'] }}">edit</a>
            <a href="/form/delete/{{ post['id'] }}">delete</a>
        </div>
        <a href="/{{ post['id'] }}/bid">BID {{ post['pic_name'] }}</a>
        <br>
        <span>
        {{ post['username'] }} : {{ post['pic_name'] }}
        </span>
        <span>
            {{ post['comment'] }}
        </span>
    </li>
    {% endfor %}
</ul>
{%endblock%}
