{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
<h2>Sign up with A+ SHOWCASE</h2>
<form class="signup" action="/signup" method="post">
  <label class="user" for="username">Username:</label>
  <input class="user" type="text" name="username" />
  <br />
  <label class="email" for="email">Email:</label>
  <input class="email" type="email" name="email" />
  <br />
  <label class="password" for="password">Password:</label>
  <input class="user" type="password" name="password" />
  <br />
  <input class="sub" type="submit" />
</form>
{% endblock %}
